<!-- HOMEPAGE -->
<div class="wrapper homepage" id="homepage">
  <div class="container">
    <div class="three columns">
      <div class="frame">
        <%= image_tag 'yourphoto.jpg' %>
      </div>
    </div>

    <div class="five columns">
      <h1>WEB DEVELOPER</h1>
      <p><strong>
        My name is Urban Hafner and I'm a web developer specializing
        in Ruby, Ruby on Rails and JavaScript.
      </strong></p>
      <p>
        I do contract work and I can write your whole web app just starting with
        a Photoshop design. But I am also more than happy to help you out with
        your existing applications or join your team to work on your project.
      </p>
      <p>
        If you are looking for help with your web application please
        contact me by either using the
        <%= link_to "contact form", contact_path %>
        or any of the means mention on this page.
      </p>
    </div>

    <div class="four columns">
      <div class="left-divider">
        <a href="http://twitter.com/ujh"><button class="twitter">@ujh</button></a>
        <a href="http://www.linkedin.com/pub/urban-hafner/53/b4b/6ab"><button class="linkedin">Urban Hafner</button></a>
        <a href="https://www.xing.com/profile/Urban_Hafner"><button class="xing">Urban Hafner</button></a>
        <a href="mailto:contact@urbanhafner.com"><button class="mail">contact@urbanhafner.com</button></a>
      </div>
    </div>

 </div>
</div>
