<div class="wrapper projects" id="projects">
  <span class="big-text">projects</span>
  <div class="container">
    <div class="ten columns">
      <p><strong>Web Analyzer</strong></p>
      <p>
        <a href="https://www.web-analyzer.com/">
          <%= image_tag 'projects/web-analyzer.png' %>
        </a>
        I took over the development of this Ruby on Rails app and worked
        on new features for 6 months (including JavaScript front-end
        work). This application visualizes data provided by an internal
        API using JavaScript charting libraries and also handles the
        signup and recurring payment processes that allow access to the
        API.
      </p>
      <p><strong>Heizoelpool</strong></p>
      <p>
        <a href="http://www.heizoelpool.de/">
          <%= image_tag 'projects/heizoelpool.png' %>
        </a>
        I implemented this site (and the sister site
        <a href="http://www.autopolicenpool.de/">AutopolicenPool</a>)
        using Ruby on Rails from scratch.
      </p>
    </div>
  </div>
</div>
