<div class="wrapper projects" id="projects">
  <span class="big-text">projects</span>
  <div class="container">
    <div class="ten columns">
      <p><strong>Sir Syed Day 2012</strong></p>
      <p>
        <a href="http://sir-syed-day.herokuapp.com">
          <%= image_tag 'projects/sir-syed-day.png' %>
        </a>
        A small web app for a single event. The homepage design was provided
        as a PSD file. I implemented it using Ruby on Rails, TypeKit fonts,
        and Twitter Bootstrap. The app also includes a ticket sales system with
        payments through Paypal and the app generates the personalized tickets
        as PDFs.
      </p>
      <p><strong>Web Analyzer</strong></p>
      <p>
        <a href="https://www.web-analyzer.com/">
          <%= image_tag 'projects/web-analyzer.png' %>
        </a>
        I took over the development of this Ruby on Rails app and worked
        on new features for 6 months (including JavaScript front-end
        work). This application visualizes data provided by an internal
        API using JavaScript charting libraries and also handles the
        signup and recurring payment processes that allow access to the
        API. I worked on that project as a subcontractor for
        <a href="http://www.ninjaconcept.com/">NinjaConcept</a>.
      </p>
      <p><strong>Heizoelpool</strong></p>
      <p>
        <a href="http://www.heizoelpool.de/">
          <%= image_tag 'projects/heizoelpool.png' %>
        </a>
        I implemented this site (and the sister site
        <a href="http://www.autopolicenpool.de/">AutopolicenPool</a>)
        using Ruby on Rails from scratch.
      </p>
    </div>
  </div>
</div>
