<div class="wrapper projects" id="projects">
  <span class="big-text">projects</span>
  <div class="container">
    <div class="ten columns">
      Heizoelpool und Autopolicenpool
      mySites (?)
      <p><strong>Project 1</strong></p>
      <p>Description</p>
    </div>
    <div class="ten columns">
      <p><strong>Project 2</strong></p>
      <p>Description</p>
    </div>
  </div>
</div>
