<!-- RESUME -->
<div class="wrapper resume" id="resume">
  <span class="big-text">resume</span>
  <div class="container">

    <div class="eight columns">

      <div class="experience">
        <h5>Experience</h5>

        <div class="date">2012</div>
        <div class="info">
          <div class="heading">
            <h6>Web Developer (Ruby on Rails, JavaScript)</h6>
            <span class="place">Freelancer</span>
          </div>
          <p class="description">
            I maintained and developed of new features of
            <a href="https://www.web-analyzer.com/">Web Analyzer</a>
            (a Rails 3 app) in collaboration with
            <a href="http://www.ninjaconcept.com/">NinjaConcept</a>.
          </p>
        </div>

        <div class="date">2009 - 2011</div>
        <div class="info">
          <div class="heading">
            <h6>Web Developer (Ruby on Rails, JavaScript)</h6>
            <span class="place"><a href="http://msales.com/">mSALES GmbH</a></span>
          </div>
          <p class="description">
            I maintained and developed new features of a medium sized
            (500k users) Ruby on Rails 2.3 application (Ruby,
            JavaScript, Haml, Sass, mySQL). I also developed several
            specialized backend services and visualization tools using
            Ruby on Rails, Sinatra and flot.
          </p>
        </div>

        <div class="date">2007 - 2008</div>
        <div class="info">
          <div class="heading">
            <h6>Web Developer (JavaScript)</h6>
            <span class="place">Freelancer</span>
          </div>
          <p class="description">
            Took over the development of the frontend JavaScript
            development (Prototype.js, custom libs) if mysites.com
            a start-up that aimed to provide what's today probably
            called a Cloud OS (files, music, videos, ...). We also
            allowed users to write their own apps on top of the
            platform.
          </p>
        </div>

        <div class="date">2007</div>
        <div class="info">
          <div class="heading">
            <h6>Web Developer (Ruby on Rails)</h6>
            <span class="place">Freelancer</span>
          </div>
          <p class="description">
            I wrote an introductory article on Ruby on Rails for the
            German magazine <em>Linux Magazin</em> and wrote the
            initial implementations of
            <a href="http://www.heizoelpool.de/">HeizoelPool</a> and
            <a href="http://www.autopolicenpool.de/">AutopolicenPool</a>
            in Ruby on Rails.
          </p>
        </div>

      </div>

      <div class="education">
        <h5>Education</h5>

        <div class="date">2001 - 2007</div>
        <div class="info">
          <div class="heading">
            <h6>Degree in Bioinformatics at <a href="http://www.tum.de">TUM</a> and <a href="http://www.lmu.de">LMU</a></h6>
            <span class="place">Munich, Germany</span>
          </div>
          <p class="description">
            Finished with a German Diplom (equivalent to a Master),
            but Science wasn’t the thing for me. We did however learn
            many data mining and machine learning techniques and I
            worked at a student assistant from 2002 - 2005 at
            <a href="http://www.helmholtz-muenchen.de/en/ibis">MIPS</a>
            using Ruby, Python, C, SQL and specialized apps.
          </p>
        </div>
        <div class="date">1992 - 2001</div>
        <div class="info">
          <div class="heading">
            <h6>Christoph-Probst Gymnasium</h6>
            <span class="place">Gilching, Germany</span>
          </div>
          <p class="description">
            Formal education according to the German school system. In
            the last year I started to teach myself C for the a mini
            thesis in biology (you have to do one those in the last
            year of school in Germany).
          </p>
        </div>

      </div>

    </div>

    <div class="four columns">
      <div class="left-padding">
        <div class="skills">
          <h5>Skills</h5>

          <div class="skill-container">
            Ruby, Ruby on Rails, JavaScript, jQuery, RSpec, Cucumber,
            HAML, SASS, HTML, SQL, Git, Redis
          </div>

          <h5>Languages</h5>
          <div class="skill-container">
            German (native language), English (very good), Greek,
            French, Swedish
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
